* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    

}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;

    grid-column: 1/3;
    grid-row: 1/2;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;   
    grid-column: 1/3;
    grid-row: 2/3;

    /* background-image: url(../img/Capturar.JPG); */
}
.container1{
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/3;
}
.container2{
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/3;
}

.esquerda{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;    
    margin: 20px;

    background-color: black;
    color: white;
   
    grid-column: 1/2;
    grid-row: 1/2;
}
.direita{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 80%; 
    margin: 20px;

    background-color: black;
    color: white;
     
    grid-column: 2/3;
    grid-row: 1/2;


}
.cabecalho{
  display: flex;
  align-items: center;
  height: 15%;
}
.botao{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 15%;
  align-items: center;
  margin: 10px;
}

#btn1{
  width: 100px;
}
#btn2{
  width: 100px;
}
#btn3{
  width: 100px;
}

.boxtexto{
    background-color: white;
    width: 80%;
    height: 40%;

}
/* #barra { */
  /* elimina configuração inicial barra de range */
  /* -webkit-appearance: none;
  margin: 0;
  width: 90%;
  padding: 0 5px;
  height: 15px; */
/* } */

#box1{
  width: 100%;
  height: 100%;
}
#box2{
  width: 100%;
  height: 100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    grid-column: 1/3;
    grid-row: 3/4;

    color: white;
}
span {
  color: blue;
  font-size: 50px;
}
span1{
  color: blue;
  font-size: 50px;
}
.boxtexto.error input {
  border: 3px solid red ;
}
.boxtexto1.acerto{
  border: 3px solid green ;

}


@media (max-width: 600px){

 
.container1{
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1/2;
}
.container2{
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 2/3;
}

.esquerda{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;    
    margin: 20px;

    background-color: black;
    color: white;
   
    grid-column: 1/2;
    grid-row: 1/2;
}
.direita{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 80%; 
    margin: 20px;

    background-color: black;
    color: white;
     
    grid-column: 2/3;
    grid-row: 1/2;
}
}

